BasedOnStyle: Google
ColumnLimit: 100

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: BlockIndent

IndentWidth: 2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
AccessModifierOffset: 0
IndentAccessModifiers: false